html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.row{
    height: 100vh;
}

/* MENU */
.nav.flex-column ul.nav.flex-column {
    margin-left: 20px; 
}

.nav.sidebar {
    height: 100vh; 
    position: fixed;
    top: 0; 
    left: 0; 
}

.corpo-principal{
    padding: 3%;
}